
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<body ng-app="ApplicationModule">
    <div>
        <div>
            <div>
                <table class="table">
                    <tr>
                        <td><a href="showcustomers">Show Customer </a><a href="addcustomer">Add Customer </a></td>
                    </tr>
                </table>
            </div>
            <div>
                <div ng-view></div>
            </div>
        </div>
    </div>

</body>


@section scripts{
    <script src="~/App_Scripts/ApiService.js"></script>
    <script type="text/javascript" src="@Url.Content("~/App_Scripts/Customer/ShowCustomersCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App_Scripts/Customer/AddCustomerCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/App_Scripts/Customer/EditCustomerCtrl.js")"></script>
}

